.footer {
  padding: 2%;
  width: 100%;
  background-color: rgb(44, 44, 67);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
gap: 3rem;

  .footer_col {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
      font-size: 3rem;
      font-weight: 500;
      margin: 5%;
    }
    .logos {
      font-size: 3rem;
      font-weight: 500;

      i {
        padding: 5px;
      }
    }
    a {
      padding: 5px;
      text-decoration: none;
      color: aliceblue;
    }
  }
}
