header {
    background-color: white;
    position: sticky;
  .logo {
    padding: 1.5rem 1rem;
    svg {
      padding: 5px;
      width: 20rem;
      object-fit: cover;
    }
    z-index: 300;
  }
  .hamburger {
    padding: 1.5rem 2rem;
    position: absolute;
    top: 0%;
    right: 3%;
    cursor: pointer;
    width: 3rem;
    span {
      width: 3rem;
      height: 4px;
      background-color: rgb(58, 56, 56);
      margin: 5px 0px;
    }
    
  }
  .navbar_links {
    margin: 2rem 0px;
    a {
      text-decoration: none;
      color: rgb(82, 78, 78);
      margin: 0.5rem 3rem;
     
      padding-bottom: 4px;
    }
    a:hover {
      border-bottom: 2px solid rgb(48, 126, 48);
      color: black;
    }
    .primary_btn {
        padding: 0.5rem 1.5rem;
        border-radius: 2px;
        outline: none;
        border: none;
        background: linear-gradient(to left, rgb(87, 176, 87), rgb(71, 203, 71));
        color: aliceblue;
        
        cursor: pointer;
      }
      .primary_btn:hover{
          border-bottom: none;
          color: aliceblue;
          opacity: 0.7;
      }
  }
  
}
