body {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
}

header .logo {
  padding: 15px 10px;
}

header .logo svg {
  padding: 5px;
}

header .hamburger {
  padding: 15px 20px;
  position: absolute;
  top: 0%;
  right: 3%;
  cursor: pointer;
  width: 30px;
}

header .hamburger span {
  width: 30px;
  height: 4px;
  background-color: #3a3838;
  margin: 5px 0px;
}

header .navbar_links {
  margin: 20px 0px;
}

header .navbar_links a {
  text-decoration: none;
  color: #524e4e;
  margin: 5px 30px;
  font-size: 2vmin;
  padding-bottom: 4px;
}

header .navbar_links a:hover {
  border-bottom: 2px solid #307e30;
  color: black;
}

header .navbar_links .primary_btn {
  padding: 6px 15px;
  border-radius: 2px;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#57b057), to(#47cb47));
  background: linear-gradient(to left, #57b057, #47cb47);
  color: aliceblue;
  font-size: 2vmin;
  cursor: pointer;
}

header .navbar_links .primary_btn:hover {
  border-bottom: none;
  color: aliceblue;
  opacity: 0.7;
}

@media only screen and (max-width: 1000px) {
  .navbar_links {
    position: absolute;
    top: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
  }
  .navbar_links a {
    padding: 20px 5px;
  }
  .navbar_links button {
    margin-top: 10px;
  }
  .active {
    visibility: visible;
  }
  .open span:nth-child(1) {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    position: relative;
    top: 9px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .open span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .open span:last-child {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hamburger {
    visibility: visible;
    display: block;
  }
  .hamburger span {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .hero_sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero_sec .right_content {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .hero_sec .left_content {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.hero_sec {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_sec .left_content {
  width: 40%;
  margin: 5%;
}

.hero_sec .left_content h1 {
  font-size: 8vmin;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0%;
}

.hero_sec .left_content p {
  font-size: 2.4vmin;
  letter-spacing: 1px;
}

.hero_sec .left_content .primary_btn {
  padding: 6px 15px;
  border-radius: 2px;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#57b057), to(#47cb47));
  background: linear-gradient(to left, #57b057, #47cb47);
  color: aliceblue;
  font-size: 2vmin;
  cursor: pointer;
}

.hero_sec .right_content {
  width: 40%;
  margin: 5%;
}

.hero_sec .right_content img {
  width: 100%;
}

.content_sec {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.content_sec .content1 {
  width: 60%;
  margin: 2% 5%;
}

.content_sec .content1 h1 {
  font-size: 6vmin;
  color: #3f3c3c;
  font-weight: 300;
  margin: 0%;
  letter-spacing: 1px;
}

.content_sec .content1 p {
  letter-spacing: 0.7px;
}

.content_sec .cards {
  width: 100%;
  margin: 0% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_sec .cards .card {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content_sec .cards .card svg {
  width: 100px;
  height: 90px;
}

.content_sec .cards .card p {
  width: 80%;
}

.content_sec .cards .card h2 {
  margin: 0%;
  font-size: 4vmin;
  font-weight: 400;
  color: #3d3a3a;
}

@media only screen and (max-width: 800px) {
  .content_sec {
    width: 100vw;
  }
  .content_sec .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article_sec {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.article_sec h1 {
  font-size: 6vmin;
  margin: 3% 4%;
  color: #252323;
  font-weight: 500;
}

.article_sec .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article_sec .cards .card1 {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article_sec .cards .card1 img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.article_sec .cards .card1 p {
  width: 70%;
  margin: 0%;
  font-size: 2.2vmin;
}

.article_sec .cards .card1 h3 {
  width: 70%;
  margin-top: 10px;
  font-size: 2.5vmin;
  font-weight: 600;
  color: #141414;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .article_sec {
    width: 100vw;
  }
  .article_sec h1 {
    text-align: center;
  }
  .article_sec .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article_sec .cards .card1 p {
    width: 50%;
  }
  .article_sec .cards .card1 h3 {
    width: 50%;
  }
  .article_sec .cards .card1 img {
    width: 50%;
  }
}

.footer {
  padding: 2%;
  width: 100vw;
  background-color: #2c2c43;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.footer .footer_col {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .footer_col h1 {
  font-size: 4vmin;
  font-weight: 500;
  margin: 5%;
}

.footer .footer_col .logos {
  font-size: 4vmin;
  font-weight: 500;
}

.footer .footer_col .logos i {
  padding: 5px;
}

.footer .footer_col a {
  padding: 5px;
  text-decoration: none;
  color: aliceblue;
}
/*# sourceMappingURL=style.css.map */